@import "tailwindcss";

:root {
  --color-primary: #264653;
  --color-secondary: #2a9d8f;
  --color-accent-1: #e9c46a;
  --color-accent-2: #f4a261;
  --color-accent-3: #e76f51;
  
  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

* {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}